{% extends 'rule_cards/base_card.html' %}

{% block title %}
    A Basic Test
{% endblock %}

{% block author %}
    Dejerpha
{% endblock %}

{% block description %}
    Let's try out the Strategy Market feature with some simple criteria...
    <br><br>
    50% of pairs are UA<br>
    Free energy = –1.5 * number of pairs [e.g. 48 kcal if there are 32 pairs]<br>
    Melting point between 77 and 97°C
{% endblock %}

{% block score %}
    score\, =\, 100\\
    score\, =\, score\, -\, abs(\frac{(\text{number of UA pairs})}{(\text{total number of pairs})}\, –\, 0.50 [0.42]) * 100.00 [93.04]\\
    score\, =\, score\, -\, abs(–1.50 [–1.87] * (\text{total number of pairs})\, –\, (\text{free energy})) * 1.00 [1.15]\\
    score\, =\, score\, –\, max (\\
        \qquad 77.00 [63.60]\, –\, (\text{melting point}),\\
        \qquad (\text{melting point})\, –\, 97.00 [102.00],\\
        \qquad 0\\
    ) * 1.00 [0.94]\\
{% endblock %}

{% block weight %}
    0.092
{% endblock %}

{% block proposal_link %}
    http://getsatisfaction.com/eternagame/topics/a_basic_test
{% endblock %}