{% extends 'rule_cards/base_card.html' %}

{% block title %}
    Clean plot, stack caps, and safe GC
{% endblock %}

{% block author %}
    xmbrst
{% endblock %}

{% block description %}
    plot_score = (number of white cells in the upper triangle of the pairwise probabilities plot) / (total number of cells in the upper triangle of the pairwise probabilities plot)
    <br><br>
    cap_score = ((number of GC pairs that are at the end of a stack) + 0.5 * (number of GC pairs that are 1 away from the end of a stack)) / (3 * total number of stacks)
    <br><br>
    gc_penalty = 2 if 80% or more of the design's pairs are GC pairs, 0 otherwise.
    <br><br>
    A design's total score is: (2 + plot_score + cap_score - gc_penalty) * 25
    <br><br>
    The +2 and *25 are just to make it come out to between 0 and 100.
{% endblock %}

{% block score %}
    score\, =\, plot\_score * 1.00 [0.88]\, +\, cap\_score * 1.00 [1.05]\\
    score\, =\, score\, -\, (\text{gc_penalty with GC pair threshold on 0.80 [0.83]}) * 2.00 [2.10]\\
    score\, =\, (score\, +\, 2) * 25
{% endblock %}

{% block weight %}
    0.12
{% endblock %}

{% block proposal_link %}
    http://getsatisfaction.com/eternagame/topics/_strategy_market_clean_plot_stack_caps_and_safe_gc
{% endblock %}