{% extends 'rule_cards/base_card.html' %}

{% block title %}
    Direction of GC-pairs in multiloops + neckarea
{% endblock %}

{% block author %}
    Eli Fisker
{% endblock %}

{% block description %}
    I make a wish for a strategy that says:
    <br><br>
    All GC-pairs in the in multiloopjunctions, have to turn in same direction.
    (Red nucleotide to the right and green nucleotide to the left.)
    Exception: the GC-pair connecting multiloop and neck,are allowed to turn in both directions, without being penalized.
    <br><br>
    I would like to give –2 point for each wrong turning GC-pair.
{% endblock %}

{% block score %}
    score\, =\, 100\\
    score\, =\, score\, -\, (\text{number of GC pairs in wrong directions adjacent to multiloops except those in the first stack from 5' end}) * 1.00 [5.71]\\
    score\, =\, score\, -\, (\text{number of non-GC pairs adjacent to multiloops}) * 2.00 [6.63]
{% endblock %}

{% block weight %}
    0.21
{% endblock %}

{% block proposal_link %}
    http://getsatisfaction.com/eternagame/topics/_strategy_market_direction_of_gc_pairs_in_multiloops_neckarea
{% endblock %}