{% extends 'rule_cards/base_card.html' %}

{% block title %}
    Numbers of yellow nucleotides pr length of string
{% endblock %}

{% block author %}
    Eli Fisker
{% endblock %}

{% block description %}
    I would like to ad a strategy for numbers of yellow nucleotides allowed pr. lengt of string (neckarea excluded):
    <br><br>
    If a string/arm is this number of nucleotides long, then allow this number of yellow adenine.
    For each yellow nucleotide below the minimum or above the maximum, penalize with –2.
    <br><br>
    String length (yellow nucleotides)<br>
    3 (1-2) String eg. the bulged cross and the asymmetry<br>
    4 (1-2)<br>
    5 (1-3)<br>
    6 (2-3)<br>
    7 (3-4)<br>
    8 (2-5)<br>
    9 (1-4)<br>
    <br><br>
    This could be used to rule out some of the cub scouts and a few christmas threes.
{% endblock %}

{% block score %}
    score\, =\, 100\\
    \text{for each stack}\\
        \qquad score\, =\, score\, –\, max(\\
            \qquad\qquad (\text{number of AU pairs})\, –\, (\text{upper bound on number of AU pairs}),\\
            \qquad\qquad (\text{lower bound on number of AU pairs})\, –\, (\text{number of AU pairs}),\\
            \qquad\qquad 0\\
        \qquad ) * 2.00 [10.50]
{% endblock %}

{% block weight %}
    0.22
{% endblock %}

{% block proposal_link %}
    http://getsatisfaction.com/eternagame/topics/numbers_of_yellow_nucleotides_pr_length_of_string
{% endblock %}